@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter.var.woff2);
  font-weight: 100 900;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ol,
ul,
li,
form,
label,
section {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

body {
  line-height: 1;
  font-family: "Inter";
  font-size: 1.6rem;
  color: #1f1f1f;
  background-color: #e8e8e8;
}

h1 {
  font-size: 5rem;
  line-height: 10rem;
  color: #1f1f1f;
  font-weight: bold;
  margin: 4rem 0;
}

p {
  font-size: 2.4rem;
  line-height: 4rem;
  color: #1f1f1f;
  font-weight: bold;
  margin: 2rem 0;
}

a {
  text-decoration: none;
  color: #1f1f1f;
}

ol,
ul {
  list-style: none;
}

button {
  color: #e8e8e8;
  background-color: #283866;
}

.body-wrapper {
  max-width: 144rem;
  padding: 10rem 10rem 0;
  margin: 0 auto;
  display: flex;
  gap: 10rem;
}

.gallow-image {
  position: relative;
}

.hangman {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 7.5rem;
  right: 5.5rem;
}
