@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter.var.woff2);
  font-weight: 100 900;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ol,
ul,
li,
form,
label,
section {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

body {
  line-height: 1;
  font-family: "Inter", Verdana, sans-serif;
  font-size: 1.6rem;
  color: #1f1f1f;
  background-color: #e8e8e8;
}

h1 {
  font-size: 4rem;
  line-height: 10rem;
  font-weight: bold;
  margin: 4rem 0;
}

h2 {
  font-size: 3.6rem;
  line-height: 7.8rem;
  font-weight: bold;
  margin: 2rem 0;
}

h3 {
  font-size: 3.2rem;
  line-height: 6rem;
  font-weight: bold;
  margin: 2rem 0;
}

p {
  font-size: 2.4rem;
  line-height: 4rem;
  color: #1f1f1f;
  font-weight: bold;
  margin: 2rem 0;
}

a {
  text-decoration: none;
  color: #1f1f1f;
}

ol,
ul {
  list-style: none;
}

button {
  font-size: 3rem;
  color: #e8e8e8;
  background-color: #283866;
  width: 6rem;
  height: 6rem;
  margin: 0.5rem;
  font-family: "Inter", Verdana, sans-serif;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:active {
  background-color: #5d658c;
}

.body-wrapper {
  max-width: 144rem;
  padding: 10rem 5rem 0;
  margin: 0 auto;
  display: flex;
  gap: 10rem;
}

.gallow-image {
  position: relative;
  max-width: 35.3rem;
}

.hangman {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 7.5rem;
  right: -2rem;
}

.game {
  padding-top: 10rem;
}

.word {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6rem;
}

.word__cell {
  font-size: 5rem;
  width: 6rem;
  height: 6rem;
  margin: 0.5rem;
  font-family: "Inter", Verdana, sans-serif;
  border-radius: 1rem;
}

.progress,
.hint {
  margin-bottom: 4rem;
  text-align: center;
}

.keyboard {
  margin: 0 auto;
  max-width: 65rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.invisible {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.lighter {
  background-color: #878787;
  pointer-events: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  display: flex;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(232, 232, 232, 0.9);
  margin: 10% auto;
  padding: 30px;
  border: 1px solid #888;
  width: 30%;
  border-radius: 5rem;
  text-align: center;
}

.modal__button {
  width: 25rem;
  height: 8rem;
  margin: 0.5rem;
}

@media screen and (max-width: 991.98px) {
  h1 {
    font-size: 3.2rem;
    line-height: 1;
    margin: 1rem;
  }
  h2 {
    line-height: 6rem;
  }

  h3 {
    line-height: 4rem;
  }
  .body-wrapper {
    flex-direction: column;
    gap: 0;
    padding: 5rem 2rem;
  }
  .gallows {
    width: 50%;
    margin: 0 auto;
  }

  .gallow-image {
    width: 22rem;
  }

  .gallow-png {
    max-width: 20rem;
  }

  .head-png,
  .left-hand-png,
  .right-hand-png,
  .right-leg-png,
  .left-leg-png {
    width: 4rem;
  }

  .body-png {
    height: 6rem;
  }

  .hangman {
    align-items: center;
    top: 8.5rem;
    right: 0.7rem;
  }
  .game {
    padding: 2rem;
  }

  .word__cell {
    font-size: 4rem;
    width: 4rem;
    height: 4rem;
    margin: 0.3rem;
  }

  .hint,
  .progress {
    margin: 1rem 0 2rem;
  }

  button {
    width: 5rem;
    height: 5rem;
  }

  .modal-content {
    margin: 50% auto;
    padding: 3rem;
    border: 1px solid #888;
    width: 60%;
  }

  .modal__button {
    width: 25rem;
    height: 8rem;
    margin: 0.5rem;
  }
}

@media screen and (max-width: 575.98px) {
  h1 {
    font-size: 2.2rem;
    line-height: 1;
    margin: 0.5rem;
  }
  h2 {
    font-size: 3rem;
    line-height: 4rem;
    margin: 1rem;
  }

  h3 {
    font-size: 2.2rem;
    line-height: 3rem;
    margin: 1rem;
  }

  .body-wrapper {
    padding: 3rem 1rem;
  }
  .gallows {
    width: 50%;
  }

  .gallow-image {
    width: 15rem;
  }

  .gallow-png {
    max-width: 14rem;
  }

  .head-png,
  .left-hand-png,
  .right-hand-png,
  .right-leg-png,
  .left-leg-png {
    width: 2rem;
  }

  .body-png {
    height: 3rem;
  }

  .hangman {
    align-items: center;
    top: 6rem;
    right: 0.95rem;
  }
  .game {
    padding: 1rem;
  }

  .word__cell {
    font-size: 4rem;
    width: 4rem;
    height: 4rem;
    margin: 0.3rem;
  }
  .word {
    margin-bottom: 2rem;
  }

  .hint,
  .progress {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin: 1rem 0 1rem;
  }

  button {
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
    margin: 0.1rem;
    border-radius: 1rem;
  }

  .modal-content {
    margin: 40% auto;
    padding: 2rem;
    border: 1px solid #888;
    width: 70%;
  }

  .modal__button {
    font-size: 2rem;
    width: 15rem;
    height: 7rem;
    margin: 0.5rem;
  }
}
