html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ol,
ul,
li,
form,
label,
section {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

body {
  line-height: 1;
  font-family: "Inter";
  font-size: 1.6rem;
  color: #1f1f1f;
  background-color: #e8e8e8;
}

h1,
h2,
h3 {
  font-weight: var(--bold-weight);
}

h1 {
  font-size: 3.4rem;
  line-height: 6rem;
  color: #1f1f1f;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #1f1f1f;
}

ol,
ul {
  list-style: none;
}

button {
  color: #e8e8e8;
  background-color: #283866;
}

.body {
  max-width: 144rem;
  padding: 0 200;
  margin: 0 auto;
}
